body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-light.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-light.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-light.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
  
#startARDiv {
  height: 100vh;
  background: url('spalsh-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#startARDiv .permission{
  background : url(permission-camera.png);
  position: absolute;
  width: 400px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

  .loading-page {
    background-image: url('spalsh-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
  }
  
  .loading-page > .wrap-loading {
    margin: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    padding: 0 8px;
  }
  
  .loading-page > .wrap-loading > .progress {
    justify-content: flex-start;
    border-style: solid;
    border-color: #ab9170;
    align-items: center;
    position: relative;
    padding: 2px;
    display: flex;
    display: -webkit-flex;
    height: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }
  
  
  .loading-page > .wrap-loading > .progress > .progress-value {
    background: #ab9170;
    height: 20px;
    width: 10%;
  }

  @font-face{
    font-family: brush-script;
    src: url('BRUSHSCI.TTF');
  }

  .loading-page>.wrap-loading>.title{
    font-family: brush-script;
    font-size: 24px;
    color: #ab9170;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
  }
  
  .btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    background: #EC1A82;
    padding: 12px 8px;
    width: 100%;
    outline: none;
    border: none;
  }
  
  .btn-secondary {
    color: #EC1A82;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    background: #FFEAF4;
    padding: 12px 8px;
    width: 100%;
    outline: none;
    border: none;
  }
  
  .btn-transparant {
    color: #EC1A82;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    background: #FFF;
    padding: 12px 8px;
    width: 100%;
    outline: none;
    border: none;
  }
  
  .btn-permission{
    position: absolute;
    background-color: transparent;
    border: none;
    color: #e8c6a6;
    bottom: 70px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
  }
